* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.one {
  color: red;
}
/* #states {
  text-align: center;
  background-color: green;
  padding: 10px 20px;
  border-radius: 10px;
} */
body {
  background-color: rgba(0, 128, 128, 0.342);
  font-family: monospace;
}
.states {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.8em;
  padding: 1.2em;
}
a {
  text-decoration: none;
}
fieldset {
  border: 1px solid rgb(67, 68, 67);
  padding: 0.4em;
  font-size: larger;
  box-shadow: 0.1px 0px 1px 1px;
}

fieldset:hover {
  background-color: rgb(37, 39, 38);
  color: white;
  box-shadow: 0.1px 0px 2px 1px;
}
fieldset h3 + small {
  text-align: center;
  color: rgb(11, 12, 11);
}

fieldset legend {
  color: #ffffff;
  font-size: 20px;
}
/* .state_card {
  color: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(249, 250, 248);
} */
